.nav-bar{
  display: flex;
  align-items: center;
  background-color: #f55a5a;
  padding: 10px;
  justify-content: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.nav-bar img{
  border-radius: 50%;
  margin-right: 10px;
}
.nav-bar span{
  font-weight: 600;
  color: #fff;
  font-size: 18px;
}