.counter-section{
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.counter-container{
  background-color: black;
}
.counter-container h3{
  color: #fff;
  margin-bottom: 0px;
}
.counter-app-body{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.count{
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}
.icon{
    background-color: aliceblue;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}